#crear-cuenta {
    background-color: var(--color-quintenario);
    padding: var(--padding-general);
}

#crear-cuenta .container {
    max-width: var(--ancho-logo);
    margin: var(--margen-general) auto;
}

#crear-cuenta h2 {
    text-align: center;
    margin-bottom: var(--margen-general);
}

#crear-cuenta form {
    display: flex;
    flex-direction: column;
}

#crear-cuenta label {
    margin-bottom: var(--margen-general);
}

#crear-cuenta input[type="text"],
#crear-cuenta input[type="email"],
#crear-cuenta input[type="password"] {
    margin-bottom: var(--margen-general);
    padding: var(--padding-general);
    border: 1px solid var(--color-secundario);
}

#crear-cuenta input[type="submit"] {
    cursor: pointer;
    padding: var(--padding-general) var(--padding-general) * 2;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    border-radius: var(--radio-borde-general);
}