:root {
  --color-principal: #0a0926;
  --color-secundario: #048998;
  --color-terciario: #ffff;
  --color-cuaternario: #69e5f2;
  /* color de hover */
  --color-quintenario: #e0e0e0;
  --color-sextenario: #0a0926de;


  --fuente-principal: Arial, sans-serif;

  --tamano-fuente-h1: 24px;
  --tamano-fuente-h2: 20px;
  --tamano-fuente-p: 14px;

  --tamano-logo: 50%;
  --ancho-logo: 50%;
  --ancho-input-texto: 300px;
  --tamano-logose: 100px;
  --ancho-logose: 150px;
  --margen-general: 10px;
  --padding-general: 10px;
  --radio-borde-general: 10px;

  --tamano-fuente-h1-banner: 36px;
  --tamano-fuente-h2-banner: 28px;
}
